# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Data Files (VERY IMPORTANT)
# ===============================
data/
*.csv
*.xlsx
*.json

# ===============================
# Model Files (ML)
# ===============================
#*.pkl
#*.joblib
#*.h5
#*.model

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Logs & Temp Files
# ===============================
*.log
*.tmp
*.swp

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# Build / Cache
# ===============================
dist/
build/
*.egg-info/

# ===============================
# Node (if frontend added later)
# ===============================
node_modules/

# ===============================
# Misc
# ===============================
*.bak
*.backup
users.db

# Large files
*.mp4